wheel
accelerate==0.21.0
transformers==4.34
peft==0.4.0
bitsandbytes==0.39.0
loguru==0.7.0
numpy==1.24.4
pandas==1.5.0
tqdm==4.62.3
deepspeed==0.9.5
tensorboard
sentencepiece
transformers_stream_generator
tiktoken
einops
httpx
scipy
torch==2.0.1
mmengine
xformers==0.0.20
astunparse==1.6.2
datasets
trl==0.7.11
typing_extensions==4.9.0
opencompass==0.2.2